{% for f in form %}
  <div class="field {% if f.field.widget.input_type == 'checkbox' %}check{% endif %}">
    {% if f.field.widget.input_type == 'checkbox' %}
      {{ f }}<label for="{{ f.id_for_label }}">{{ f.label }}</label>
    {% else %}
      <label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
      {% if f.help_text %}<span class="help">{{ f.help_text }}</span>{% endif %}
    {% endif %}
    {% for e in f.errors %}<span class="err">{{ e }}</span>{% endfor %}
  </div>
{% endfor %}
{% for e in form.non_field_errors %}<p class="err" style="color:var(--yes)">{{ e }}</p>{% endfor %}
